.App {
  padding: 15px 20px;
}

.App--title {
  font-weight: 700;
  color: #222;
  text-align: center;
  font-family: "Roboto Slab", serif;
}

.App--grid {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  gap: 0.8em;
  margin: 1.2em 0 1em;
}
